{% extends 'base.html.twig' %}

{% block body %}
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h1>{{ webapp_title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="{{ asset('img/testcat.jpg') }}" alt="{{ webapp_title }}">
            </div>
        </div>
    </div>
{% endblock %}
